.state{
    fill: none;
    stroke: #a9a9a9;
    stroke-width: 1;
}
#statesvg{
    padding-left: 50px;
}
.state:hover{
    fill-opacity:0.5;
    border-color: #666666;
}
#tooltip {
    position: absolute;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 1px;
    border-radius: 2px;
    pointer-events: none;
}
#tooltip h4{
    margin:0;
    font-size:14px;
}
#tooltip{
    background:rgba(0,0,0,0.9);
    border:1px solid grey;
    border-radius:5px;
    font-size:12px;
    width:auto;
    padding:4px;
    color:white;
    opacity:0;
}
#tooltip table{
    table-layout:fixed;
}
#tooltip tr td{
    padding:0;
    margin:0;
}
#tooltip tr td:nth-child(1){
    width:50px;
}
#tooltip tr td:nth-child(2){
    text-align:center;
}
#map-container
{
    height: auto;
    text-align: center;
    padding-top: 5%;
    width: 60%;
}
#page-2-left
{
    margin-left:auto;
    text-align: center;
    background: rgba(112, 107, 103, 0.2);
    border: 1px solid black;
    border-radius: 25px;
    line-height: 2;
    margin-bottom: 3rem;
}

#page-2-right
{
    text-align: center;
    background: rgba(112, 107, 103, 0.2);
    border: 1px solid black;
    border-radius: 25px;
}

ul {
    margin-left:5px;
    font-size: 18px;
    list-style-type: circle;
    display: list-item;

}

li{
    margin-bottom: 9rem;
    color: #cc0000;
    font-size-adjust: inherit;
    list-style-position: inside;
}

.page
{

}